$primary-color: #6950F3;
$color-bg-container: #ffffff;
$color-bg-content: #f1f1f1;
$blur: rgba(255, 255, 255, 0.2);
$black: #000000;
$black-2: #0D1619;
$black-blur: rgba(0, 0, 0, 0.71);
$white: #ffffff;
$white-2: #f1f1f1;
$red: #da495b;
$blur-red: rgb(245, 35, 35);
$green: #4caf50;
$accent: #f37632;
$yellow: #ffff00;
$grey: #7f7f7f;
$border: rgba(180, 180, 180, 0.29);
$extra-blur: rgba(215, 215, 215, 0.44);
$dark-slate-grey: #494f58;
$dark: #001529;
$blue: #1c77de;
