.textInputContainer {
  position: relative;
  padding: 0;

  .textInput {
    border-radius: 4px;
    box-shadow: none;
  }
  .labelContainer {
    display: flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    left: -4px;
    top: -4px;
  }
  .label {
    padding-left: 4px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
  }
  .notRequired {
    margin-top: 2px;
    display: inline-block;
    color: grey;
    font-weight: 500;
    font-size: 9px;
  }
  .error {
    position: absolute;
    left: 4px;
    bottom: 2px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $red;
  }
  .errorInput {
    color: $red;
    border-color: $red;
    outline-color: $red;
  }
}
.textInputWithLabel {
  padding-top: 20px;
}
.textInputWithError {
  padding-bottom: 20px;
}
