.container {

  & > div > div {
    min-width: 300px!important;
    border: 1px solid $border;
    padding: 20px!important;

    @media screen and (max-width: 400px){
      min-width: 350px!important;
    }

    @media screen and (min-width: 450px){
      min-width: 450px!important;
    }
  }
}
