.content {
  padding: 0!important;

  .header {
    padding: 14px;
    border-bottom: 1px solid $blur;
    margin-bottom: 0!important;
  }

  .body {
    padding: 14px;
  }

  .footer {
    padding: 14px;
    border-top: 1px solid $blur;
    margin-top: 0!important;
  }

}
