
.container {

  .block {
    margin-bottom: 20px;
    border: 1px solid $border;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 1px 1px $blur;
    background: $white;;

    .header {
      padding: 12px;
      border-bottom: 1px solid $border;
    }
    .all {
      padding: 12px;
    }

    .category {
      margin: 0;
    }

    .list {
      background: $color-bg-content;
      padding: 8px;
    }

    .card {
      background: $white;
      flex-direction: row;
      border: 1px solid $border;
      gap: 12px;
      padding: 12px;
    }
  }
}
